*{
    text-align: center;
}
p {
    margin-bottom: 10px;
    margin-top: 10px;
}
input {
    text-align: center;
}


#submit_btn {
    margin-bottom: 10px;
}

h2{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color:deeppink;
}
.nav-link:focus, .nav-link:hover {
    /* text-decoration: none; */
    color: deeppink;
}
#register_form_div{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color:deeppink;
    border: 1px;
    border-style: double;
    border-color: deeppink;
    border-radius: 10px;
    width: 50%;
}
.register_input{
    margin-top: 10px;
}
#coding_experience_input{
    /*width: 50%;*/
    vertical-align: 10%;
    display: inline-block;
    text-align: -webkit-auto;
}


