.nav-link:focus, .nav-link:hover {
    /* text-decoration: none; */
    color: deeppink;
}

#header1 {
    text-align:center;
    Color: deeppink;
}
.words {
    text-align:center;
    color: deeppink;
}
