*{
    text-align: center;
}

.nav-link:focus, .nav-link:hover {
    /* text-decoration: none; */
    color: deeppink;
}
#Greeting{
    text-align: center;
    padding-top: 30px;
}

#sign_up_text{
    margin-top: 25px;
    margin-bottom: 30px;
}

#terminal_gif{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

h1, h3, h6{
    color: pink;
    font-weight: bold;
}

body {
    background-color: darkslategray;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: darkslategray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: pink;
  }