.nav-link:focus, .nav-link:hover {
    /* text-decoration: none; */
    color: #ff1493;
}

#goback a{
    border: 2px solid deeppink;
    background-color: white;
    color: deeppink;
    padding: 10px;
    position: fixed;
    margin: 20px;
    top: 75px;
    left: 1300px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 16px;
}

#goback a:hover{
    border: 2px solid white;
    background-color: deeppink;
    color: white;
}

.headline{
    color: deeppink;
    padding: 50px;
    margin: 30px 50px 10px 50px;
    font-weight: bold;
    height: 100px;
    width: 420px;
}

.headline:hover{
    color: black
}

.question{
    margin: 30px 0;
}

.question input{
    border: 1px solid deeppink;
    color: rgb(69,69,69);
    height: 300px;
    width: 600px;
    position: relative;
    top: 0;
    left: 100px;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 5px;
}

#email {
    border: 1px solid deeppink;
    color: rgb(69,69,69);
    width: 600px;
    position: relative;
    top: 0;
    left: 100px;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 5px;
}

#submit input{
    border: 2px solid deeppink;
    background-color: white;
    color: deeppink;
    position: relative;
    margin: 30px;
    top: 30px;
    left: 70px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
    height: 50px;
    width: 75px;
}

#submit input:hover{
    border: 2px solid white;
    background-color: deeppink;
    color: white;
}